/* 公用样式 */
@charset "UTF-8";
/*设置默认编码集*/

/*css 初始化 start */

html, body, b, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, span {
    margin: 0;
    padding: 0;
/*盒模型*/
box-sizing:border-box;
/*去除移动端特有的点击高亮效果*/
-webkit-tap-highlight-color:transparent;
}
/* 浏览器默认样式去除 */
h1,h2,h3,h4,h5,h6 {   
    font-size:100%;   
    font-weight:normal;   
    } 
/*各浏览器显示不同，去掉边框等默认样式*/
fieldset, img{
/*去除边框*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}
/*防止拖动 影响布局*/
/*textarea {
    resize: none;
}*/

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}
s, i, em {
    font-style: normal;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after {
        content: "";
        height: 0;
        line-height: 0;
        display: block;
        visibility: hidden;
        clear: both;
    }
.clearfix {
        zoom: 1;
}
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

p{
    cursor: pointer;
}
.none{
    display: none
}
.block{
    display: block
}
/* -------公用样式 */







/* unverified待认证页面头部公共样式 --------*/
.header_contier{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.inlet_top{
    padding: 20px;
    height: 80px;
    width: calc(100% - 40px);
    background-color: #FFF4DE;
}
.inlet_img{
    display: inline-block;
    width: 30%;
    height: 80px;
    vertical-align: top;
}
.inlet_img>span{
    font-size: 12px;
}
.inlet_span{
    display: inline-block;    
    width: 68%;
    padding:10px 0;
    height: 60px;
}
.inlet_span_h3 {
    font-size: 22px;
    font-family: 900;
    display: block;
}
.inlet_span_h5{
    font-size: 12px;
    font-family: 400;
    display: block;
}
.phone_postion{
    display: block;
    width: 92%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    margin-top: -20px;
    text-align: center;
    border: 1px solid #494949; 
    background-color: #fff;
}

/* ----------unverified主体 */
.subject{
    display: block;
    width: calc(92% - 40px);
    border: 1px solid #494949;
    margin: 0 auto;
    margin-top:5px ;
    padding: 15px 20px;
    background-color: #ccc;
}
.subject button{
    width: 100%;
    height: 60px;
    background-color: #fff;
    line-height: 60px;
    text-align: center;
}
.subject button:nth-child(2) {
    margin-top: 10px;
}
.hint{
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
}
.hint li{
    list-style: decimal;
    margin-top: 8px;
}
.tips_h4{
    font-size: 18px;
    font-family: 600;

}

/*------ unverified待认证页面--------*/







/* verified_user 认证用户 曝露公众号入口 */
/* 服务专员头像 */
.position_r{
    position: relative;
}
.position_r img{
    position: absolute;
    bottom: -10px;
    right: 3px;
    width: 30px;
    height: 30px;
    display:block;
}
/* -- */
.feature{
    width: 92%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #797979;
    margin-top: 8px;
}
.feature_list{
   padding: 30px 20px 30px 40px;
   height: 40px;   

}
.feature_list:nth-child(1), .feature_list:nth-child(2), .feature_list:nth-child(3){
border-bottom: 1px solid #ccc;

}
.Failure_declare{
    /* 并排DIV 1% 的间距 */
    width: 49%;   
    height: 100%;
    display: inline-block;
    text-align: left;
}
.Failure_declare img{
    width: 30px;
    height: 30px;
    display: inline-block;
}

/* verified_user 认证用户 曝露公众号入口 */





/* star注册登录页面-----------*/
.starRating_header{
    width: calc(100% - 40px);
    height: 150px;
    padding: 15px 20px;
    background-color: #C2FF83;
}
.starRating_header span:nth-child(1) {
    display: block;
    font-size: 22px;
    font-family: 900;
    color: #333333;

}
.starRating_header span:nth-child(2) {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}
/* star注册登录页面-----------*/







/* ------failure故障申报 + 投诉与建议5 complaints_suggestions */
.failure_header{
    margin: 0 auto;
    width: calc(100% - 30px);
    height: 100px;
    background-color: #cccccc;
    padding: 8px 15px;
}
.failure_header>span:nth-child(1){
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0;
}
.failure_header>span:nth-child(2){
    font-size: 14px;
    font-weight: normal;
}
select,
textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ddd;
}

select:focus,
textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

.type_selecter, .type_text{
    margin: 20px 15px;
}
.type_text label{
    vertical-align: top;
}
.click_sub{
    float: right;
    margin-right:20px;
    display: inline-block;
    width: 90px;
    height: 30px;
}
/* ------failure故障申报 + 投诉与建议5 complaints_suggestions */





/* 硬件返修3 hardware_repair-------------*/

#inp_text {
    border: 1px solid #ccc;
    height: 25px;
    display: inline-block;
}

.package_content {
    width: 92%;
    margin: 0 auto;

}

.table_add {
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    /* //table固定 */
    table-layout: fixed;
}

.tab_submit {
    margin-top: 50px;
    margin-right: -40px;
}

.hardware_repair_float {
    float: right;
    margin-right: 20px;
}

.table_add tr,
.table_add td {
    height: 30px;
    /* table配置 */
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
}

.table_add tr td:nth-child(1) {
    width: 98px;
}

.table_add tr td:nth-child(2) {
    width: 64px;
}

.table_add tr td:nth-child(3) {
    width: 165px;
}

/* 硬件返修3 hardware_repair-------------*/









/* 邀请同事7：inviting_colleague-------------- */




/* 邀请同事7：inviting_colleague-------------- */


