body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:298px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:445px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10686 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:445px;
}
#u10687 {
  position:absolute;
  left:2px;
  top:214px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:98px;
}
#u10688 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:98px;
  opacity:0.6;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10689 {
  position:absolute;
  left:2px;
  top:41px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10690 {
  position:absolute;
  left:20px;
  top:121px;
  width:29px;
  height:16px;
}
#u10691 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10692 {
  position:absolute;
  left:66px;
  top:119px;
  width:199px;
  height:22px;
}
#u10692_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10692_input:disabled {
  color:grayText;
}
#u10693 {
  position:absolute;
  left:66px;
  top:166px;
  width:199px;
  height:184px;
}
#u10693_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:184px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10694 {
  position:absolute;
  left:21px;
  top:164px;
  width:29px;
  height:16px;
}
#u10695 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10696 {
  position:absolute;
  left:172px;
  top:378px;
  width:93px;
  height:25px;
}
#u10696_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u10697 {
  position:absolute;
  left:20px;
  top:13px;
  width:129px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u10698 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u10699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10699 {
  position:absolute;
  left:23px;
  top:42px;
  width:248px;
  height:32px;
}
#u10700 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
