body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:114px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 204, 102, 1) 6%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 77%, rgba(0, 204, 102, 1) 100%, rgba(0, 204, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 204, 102, 1) 6%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 77%, rgba(0, 204, 102, 1) 100%, rgba(0, 204, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 204, 102, 1) 6%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 77%, rgba(0, 204, 102, 1) 100%, rgba(0, 204, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10779 {
  position:absolute;
  left:0px;
  top:-1px;
  width:300px;
  height:114px;
}
#u10780 {
  position:absolute;
  left:2px;
  top:49px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u10781 {
  position:absolute;
  left:26px;
  top:24px;
  width:56px;
  height:56px;
}
#u10782 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10783 {
  position:absolute;
  left:92px;
  top:59px;
  width:174px;
  height:16px;
}
#u10784 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u10785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10785 {
  position:absolute;
  left:92px;
  top:29px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10786 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u10787 {
  position:absolute;
  left:39px;
  top:68px;
  width:28px;
  height:12px;
  font-size:9px;
}
#u10788 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u10789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10789 {
  position:absolute;
  left:11px;
  top:95px;
  width:277px;
  height:38px;
}
#u10790 {
  position:absolute;
  left:2px;
  top:11px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10791 {
  position:absolute;
  left:23px;
  top:106px;
  width:239px;
  height:16px;
}
#u10792 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u10793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:295px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10793 {
  position:absolute;
  left:11px;
  top:139px;
  width:277px;
  height:295px;
}
#u10794 {
  position:absolute;
  left:2px;
  top:140px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10795 {
  position:absolute;
  left:12px;
  top:287px;
  width:275px;
  height:133px;
}
#u10796 {
  position:absolute;
  left:2px;
  top:58px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10797 {
  position:absolute;
  left:42px;
  top:333px;
  width:230px;
  height:16px;
  color:#666666;
}
#u10798 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u10799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u10799 {
  position:absolute;
  left:27px;
  top:306px;
  width:44px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u10800 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u10801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:32px;
}
#u10801 {
  position:absolute;
  left:42px;
  top:366px;
  width:223px;
  height:32px;
  color:#666666;
}
#u10802 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u10803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10803 {
  position:absolute;
  left:12px;
  top:150px;
  width:275px;
  height:54px;
}
#u10804 {
  position:absolute;
  left:2px;
  top:19px;
  width:271px;
  word-wrap:break-word;
}
#u10805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10805 {
  position:absolute;
  left:12px;
  top:214px;
  width:275px;
  height:54px;
}
#u10806 {
  position:absolute;
  left:2px;
  top:19px;
  width:271px;
  word-wrap:break-word;
}
