body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:1496px;
  background:inherit;
  background-color:rgba(240, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(183, 183, 189, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10447 {
  position:absolute;
  left:-2px;
  top:-59px;
  width:218px;
  height:1496px;
}
#u10448 {
  position:absolute;
  left:2px;
  top:740px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:26px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10450 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:26px;
}
#u10451 {
  position:absolute;
  left:2px;
  top:5px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u10452 {
  position:absolute;
  left:27px;
  top:5px;
  width:57px;
  height:16px;
  color:#949494;
}
#u10453 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u10454 {
  position:absolute;
  left:119px;
  top:5px;
  width:57px;
  height:16px;
  color:#949494;
}
#u10455 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10456 {
  position:absolute;
  left:216px;
  top:26px;
  width:1134px;
  height:1412px;
}
#u10456_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:1412px;
}
#u10457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:42px;
}
#u10457 {
  position:absolute;
  left:16px;
  top:43px;
  width:179px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:42px;
}
#u10458 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u10459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7C7BAD;
}
#u10459 {
  position:absolute;
  left:30px;
  top:111px;
  width:41px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#7C7BAD;
}
#u10460 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u10461 {
  position:absolute;
  left:191px;
  top:3px;
  width:90px;
  height:21px;
  font-size:15px;
  color:#FFFFFF;
}
#u10462 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u10463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10463 {
  position:absolute;
  left:43px;
  top:135px;
  width:33px;
  height:16px;
}
#u10464 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
