.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.box_1 {
}
.tr {
  color:#FFFFFF;
}
._共享机动车辆 {
}
._已排计划车辆 {
}
._维保停运车辆 {
}
.box_2 {
}
._形状 {
}
.box_3 {
}
._图片 {
}
.ellipse {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.label {
  font-size:14px;
  text-align:left;
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.html_button {
  text-align:center;
}
.table_cell {
}
._连接线 {
}
.snapshot {
}
.sticky_2 {
  text-align:left;
}
.menu_item {
}
.sticky_4 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.marker1 {
  color:#FFFFFF;
}
._流程形状 {
}
.marker__ {
  color:#FFFFFF;
}
.flow_shape {
}
.marker__1 {
  color:#FFFFFF;
}
.marker__2 {
  color:#FFFFFF;
}
.marker__3 {
  color:#FFFFFF;
}
.marker__4 {
  color:#FFFFFF;
}
.new_style {
}
._状态条-当前 {
  color:#FFFFFF;
}
._状态条-其他 {
  color:#7C7BAD;
}
._黄色散点半透明 {
  color:#FFFFFF;
}
._绿色半透明散点图 {
  color:#FFFFFF;
}
.icon {
}
