body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:298px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:445px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10701 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:445px;
}
#u10702 {
  position:absolute;
  left:2px;
  top:214px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:98px;
}
#u10703 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:98px;
  opacity:0.6;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10704 {
  position:absolute;
  left:2px;
  top:41px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10705 {
  position:absolute;
  left:20px;
  top:121px;
  width:57px;
  height:16px;
}
#u10706 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10707 {
  position:absolute;
  left:87px;
  top:121px;
  width:178px;
  height:16px;
}
#u10707_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10707_input:disabled {
  color:grayText;
}
#u10708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10708 {
  position:absolute;
  left:20px;
  top:158px;
  width:57px;
  height:16px;
}
#u10709 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10710 {
  position:absolute;
  left:172px;
  top:378px;
  width:93px;
  height:25px;
}
#u10710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u10711 {
  position:absolute;
  left:20px;
  top:13px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10712 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10713 {
  position:absolute;
  left:23px;
  top:42px;
  width:248px;
  height:32px;
}
#u10714 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u10715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10715 {
  position:absolute;
  left:87px;
  top:157px;
  width:177px;
  height:16px;
}
#u10716 {
  position:absolute;
  left:2px;
  top:0px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10717 {
  position:absolute;
  left:20px;
  top:195px;
  width:57px;
  height:16px;
}
#u10718 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10719 {
  position:absolute;
  left:20px;
  top:221px;
  width:255px;
  height:95px;
}
#u10720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u10720 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u10721 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u10722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u10722 {
  position:absolute;
  left:83px;
  top:0px;
  width:83px;
  height:30px;
}
#u10723 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u10724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u10724 {
  position:absolute;
  left:166px;
  top:0px;
  width:84px;
  height:30px;
}
#u10725 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u10726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u10726 {
  position:absolute;
  left:0px;
  top:30px;
  width:83px;
  height:30px;
}
#u10727 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u10728 {
  position:absolute;
  left:83px;
  top:30px;
  width:83px;
  height:30px;
}
#u10729 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u10730 {
  position:absolute;
  left:166px;
  top:30px;
  width:84px;
  height:30px;
}
#u10731 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u10732 {
  position:absolute;
  left:0px;
  top:60px;
  width:83px;
  height:30px;
}
#u10733 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u10734 {
  position:absolute;
  left:83px;
  top:60px;
  width:83px;
  height:30px;
}
#u10735 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u10736 {
  position:absolute;
  left:166px;
  top:60px;
  width:84px;
  height:30px;
}
#u10737 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10738 {
  position:absolute;
  left:87px;
  top:188px;
  width:64px;
  height:25px;
}
#u10738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
