body {
  margin:0px;
  background-image:url('../../images/线索明细页/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:13px 705px;
  position:static;
  left:auto;
  width:1071px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:773px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9555 {
  position:absolute;
  left:156px;
  top:131px;
  width:860px;
  height:773px;
}
#u9556 {
  position:absolute;
  left:2px;
  top:378px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9557 {
  position:absolute;
  left:207px;
  top:169px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9558 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u9559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9559 {
  position:absolute;
  left:227px;
  top:237px;
  width:113px;
  height:16px;
}
#u9560 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u9561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9561 {
  position:absolute;
  left:227px;
  top:273px;
  width:113px;
  height:16px;
}
#u9562 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u9563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:52px;
}
#u9563 {
  position:absolute;
  left:404px;
  top:238px;
  width:1px;
  height:51px;
}
#u9564 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9565 {
  position:absolute;
  left:116px;
  top:78px;
}
#u9565_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9565_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(124, 123, 173, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9566 {
  position:absolute;
  left:0px;
  top:1px;
  width:68px;
  height:30px;
  font-size:14px;
}
#u9567 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u9566_ann {
  position:absolute;
  left:61px;
  top:-3px;
  width:1px;
  height:1px;
}
#u9568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u9568 {
  position:absolute;
  left:797px;
  top:0px;
  width:88px;
  height:32px;
}
#u9569 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u9570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u9570 {
  position:absolute;
  left:867px;
  top:0px;
  width:88px;
  height:32px;
}
#u9571 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u9572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
  background:inherit;
  background-color:rgba(124, 123, 173, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9572 {
  position:absolute;
  left:115px;
  top:1px;
  width:93px;
  height:30px;
  font-size:14px;
}
#u9573 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u9572_ann {
  position:absolute;
  left:201px;
  top:-3px;
  width:1px;
  height:1px;
}
#u9565_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u9565_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u9574 {
  position:absolute;
  left:797px;
  top:0px;
  width:88px;
  height:32px;
  color:#7C7BAD;
}
#u9575 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u9576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u9576 {
  position:absolute;
  left:867px;
  top:0px;
  width:88px;
  height:32px;
}
#u9577 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u9578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u9578 {
  position:absolute;
  left:13px;
  top:10px;
  width:147px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u9579 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u9580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(124, 123, 173, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9580 {
  position:absolute;
  left:13px;
  top:42px;
  width:50px;
  height:30px;
  font-size:14px;
}
#u9581 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u9582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:241px;
}
#u9582 {
  position:absolute;
  left:134px;
  top:950px;
  width:937px;
  height:241px;
}
#u9583 {
  position:absolute;
  left:2px;
  top:112px;
  width:933px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:104px;
}
#u9584 {
  position:absolute;
  left:837px;
  top:992px;
  width:162px;
  height:104px;
}
#u9585 {
  position:absolute;
  left:2px;
  top:44px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9586 {
  position:absolute;
  left:979px;
  top:973px;
  width:40px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9587 {
  position:absolute;
  left:209px;
  top:201px;
  width:57px;
  height:16px;
}
#u9588 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9589 {
  position:absolute;
  left:308px;
  top:175px;
  width:57px;
  height:16px;
}
#u9590 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9591 {
  position:absolute;
  left:227px;
  top:344px;
  width:53px;
  height:16px;
}
#u9592 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:81px;
}
#u9593 {
  position:absolute;
  left:404px;
  top:344px;
  width:1px;
  height:80px;
}
#u9594 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:80px;
}
#u9595 {
  position:absolute;
  left:478px;
  top:344px;
  width:388px;
  height:80px;
}
#u9596 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
#u9597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9597 {
  position:absolute;
  left:227px;
  top:463px;
  width:53px;
  height:16px;
}
#u9598 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:81px;
}
#u9599 {
  position:absolute;
  left:404px;
  top:463px;
  width:1px;
  height:80px;
}
#u9600 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:80px;
}
#u9601 {
  position:absolute;
  left:478px;
  top:463px;
  width:388px;
  height:80px;
}
#u9602 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
#u9603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u9603 {
  position:absolute;
  left:227px;
  top:593px;
  width:79px;
  height:16px;
}
#u9604 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u9605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:81px;
}
#u9605 {
  position:absolute;
  left:404px;
  top:593px;
  width:1px;
  height:80px;
}
#u9606 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:80px;
}
#u9607 {
  position:absolute;
  left:478px;
  top:593px;
  width:388px;
  height:80px;
}
#u9608 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
#u9609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9609 {
  position:absolute;
  left:478px;
  top:238px;
  width:151px;
  height:16px;
}
#u9610 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u9611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9611 {
  position:absolute;
  left:478px;
  top:274px;
  width:225px;
  height:16px;
}
#u9612 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u9613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9613 {
  position:absolute;
  left:227px;
  top:726px;
  width:27px;
  height:16px;
}
#u9614 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:141px;
}
#u9615 {
  position:absolute;
  left:404px;
  top:726px;
  width:1px;
  height:140px;
}
#u9616 {
  position:absolute;
  left:2px;
  top:62px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9617 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9618 {
  position:absolute;
  left:478px;
  top:752px;
  width:396px;
  height:114px;
}
#u9619 {
  position:absolute;
  left:2px;
  top:49px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u9620 {
  position:absolute;
  left:482px;
  top:756px;
  width:31px;
  height:33px;
}
#u9621 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:51px;
}
#u9622 {
  position:absolute;
  left:530px;
  top:771px;
  width:65px;
  height:51px;
}
#u9623 {
  position:absolute;
  left:2px;
  top:18px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:81px;
}
#u9624 {
  position:absolute;
  left:615px;
  top:774px;
  width:87px;
  height:81px;
}
#u9625 {
  position:absolute;
  left:2px;
  top:32px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:16px;
}
#u9626 {
  position:absolute;
  left:478px;
  top:726px;
  width:388px;
  height:16px;
}
#u9627 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
#u9628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9628 {
  position:absolute;
  left:530px;
  top:826px;
  width:66px;
  height:16px;
}
#u9629 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
