body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:298px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:445px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10807 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:445px;
}
#u10808 {
  position:absolute;
  left:2px;
  top:214px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:153px;
}
#u10809 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:153px;
  opacity:0.6;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10810 {
  position:absolute;
  left:2px;
  top:68px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10811 {
  position:absolute;
  left:29px;
  top:212px;
  width:29px;
  height:16px;
}
#u10812 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10813 {
  position:absolute;
  left:94px;
  top:341px;
  width:156px;
  height:25px;
}
#u10813_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
}
#u10814 {
  position:absolute;
  left:22px;
  top:13px;
  width:174px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10815 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u10816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10816 {
  position:absolute;
  left:23px;
  top:42px;
  width:248px;
  height:80px;
}
#u10817 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u10818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10818 {
  position:absolute;
  left:94px;
  top:212px;
  width:156px;
  height:19px;
}
#u10819 {
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10820 {
  position:absolute;
  left:95px;
  top:241px;
  width:155px;
  height:25px;
}
#u10820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10821 {
  position:absolute;
  left:95px;
  top:306px;
  width:155px;
  height:19px;
}
#u10822 {
  position:absolute;
  left:2px;
  top:2px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10823 {
  position:absolute;
  left:30px;
  top:308px;
  width:43px;
  height:16px;
}
#u10824 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10825 {
  position:absolute;
  left:41px;
  top:139px;
}
#u10825_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10825_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10825_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u10825_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10826 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:254px;
}
#u10827 {
  position:absolute;
  left:2px;
  top:119px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10828 {
  position:absolute;
  left:38px;
  top:202px;
  width:140px;
  height:30px;
}
#u10829 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u10830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10830 {
  position:absolute;
  left:27px;
  top:87px;
  width:163px;
  height:96px;
}
#u10831 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u10832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:55px;
}
#u10832 {
  position:absolute;
  left:80px;
  top:18px;
  width:57px;
  height:55px;
}
#u10833 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10825_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u10825_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10834 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:184px;
}
#u10835 {
  position:absolute;
  left:2px;
  top:84px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10836 {
  position:absolute;
  left:38px;
  top:118px;
  width:140px;
  height:30px;
}
#u10837 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u10838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10838 {
  position:absolute;
  left:27px;
  top:50px;
  width:163px;
  height:48px;
}
#u10839 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u10840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u10840 {
  position:absolute;
  left:84px;
  top:18px;
  width:49px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00CC33;
}
#u10841 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
