body {
  margin:0px;
  background-image:url('../../images/线索明细页/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:13px 705px;
  position:static;
  left:auto;
  width:1111px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:577px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6989 {
  position:absolute;
  left:156px;
  top:131px;
  width:860px;
  height:577px;
}
#u6990 {
  position:absolute;
  left:2px;
  top:280px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6991 {
  position:absolute;
  left:207px;
  top:169px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6992 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6993 {
  position:absolute;
  left:207px;
  top:201px;
  width:57px;
  height:16px;
}
#u6994 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6995 {
  position:absolute;
  left:213px;
  top:271px;
  width:57px;
  height:16px;
}
#u6996 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6997 {
  position:absolute;
  left:213px;
  top:303px;
  width:57px;
  height:16px;
}
#u6998 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u6999 {
  position:absolute;
  left:299px;
  top:271px;
  width:1px;
  height:48px;
}
#u7000 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7001 {
  position:absolute;
  left:487px;
  top:271px;
  width:85px;
  height:16px;
}
#u7002 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7003 {
  position:absolute;
  left:487px;
  top:303px;
  width:57px;
  height:16px;
}
#u7004 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u7005 {
  position:absolute;
  left:576px;
  top:271px;
  width:1px;
  height:48px;
}
#u7006 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7007 {
  position:absolute;
  left:177px;
  top:344px;
}
#u7007_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7007_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:2px;
}
#u7008 {
  position:absolute;
  left:9px;
  top:33px;
  width:802px;
  height:1px;
}
#u7009 {
  position:absolute;
  left:2px;
  top:-8px;
  width:798px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7011 {
  position:absolute;
  left:29px;
  top:1px;
  width:105px;
  height:33px;
}
#u7012 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7013 {
  position:absolute;
  left:30px;
  top:30px;
  width:103px;
  height:7px;
}
#u7014 {
  position:absolute;
  left:2px;
  top:-4px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7015 {
  position:absolute;
  left:54px;
  top:9px;
  width:57px;
  height:16px;
}
#u7016 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7017 {
  position:absolute;
  left:178px;
  top:9px;
  width:57px;
  height:16px;
  color:#000000;
}
#u7018 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7019 {
  position:absolute;
  left:25px;
  top:46px;
  width:770px;
  height:185px;
}
#u7020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u7020 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u7021 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u7020_ann {
  position:absolute;
  left:87px;
  top:0px;
  width:1px;
  height:1px;
}
#u7022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u7022 {
  position:absolute;
  left:101px;
  top:0px;
  width:111px;
  height:30px;
}
#u7023 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u7024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u7024 {
  position:absolute;
  left:212px;
  top:0px;
  width:118px;
  height:30px;
}
#u7025 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u7026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u7026 {
  position:absolute;
  left:330px;
  top:0px;
  width:136px;
  height:30px;
}
#u7027 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u7028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u7028 {
  position:absolute;
  left:466px;
  top:0px;
  width:99px;
  height:30px;
}
#u7029 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u7030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u7030 {
  position:absolute;
  left:565px;
  top:0px;
  width:200px;
  height:30px;
}
#u7031 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u7032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u7032 {
  position:absolute;
  left:0px;
  top:30px;
  width:101px;
  height:30px;
}
#u7033 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u7034 {
  position:absolute;
  left:101px;
  top:30px;
  width:111px;
  height:30px;
}
#u7035 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u7036 {
  position:absolute;
  left:212px;
  top:30px;
  width:118px;
  height:30px;
}
#u7037 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u7038 {
  position:absolute;
  left:330px;
  top:30px;
  width:136px;
  height:30px;
}
#u7039 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u7040 {
  position:absolute;
  left:466px;
  top:30px;
  width:99px;
  height:30px;
}
#u7041 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u7042 {
  position:absolute;
  left:565px;
  top:30px;
  width:200px;
  height:30px;
}
#u7043 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u7044 {
  position:absolute;
  left:0px;
  top:60px;
  width:101px;
  height:30px;
}
#u7045 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u7046 {
  position:absolute;
  left:101px;
  top:60px;
  width:111px;
  height:30px;
}
#u7047 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u7048 {
  position:absolute;
  left:212px;
  top:60px;
  width:118px;
  height:30px;
}
#u7049 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u7050 {
  position:absolute;
  left:330px;
  top:60px;
  width:136px;
  height:30px;
}
#u7051 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u7052 {
  position:absolute;
  left:466px;
  top:60px;
  width:99px;
  height:30px;
}
#u7053 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u7054 {
  position:absolute;
  left:565px;
  top:60px;
  width:200px;
  height:30px;
}
#u7055 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u7056 {
  position:absolute;
  left:0px;
  top:90px;
  width:101px;
  height:30px;
}
#u7057 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u7058 {
  position:absolute;
  left:101px;
  top:90px;
  width:111px;
  height:30px;
}
#u7059 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u7060 {
  position:absolute;
  left:212px;
  top:90px;
  width:118px;
  height:30px;
}
#u7061 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u7062 {
  position:absolute;
  left:330px;
  top:90px;
  width:136px;
  height:30px;
}
#u7063 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u7064 {
  position:absolute;
  left:466px;
  top:90px;
  width:99px;
  height:30px;
}
#u7065 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u7066 {
  position:absolute;
  left:565px;
  top:90px;
  width:200px;
  height:30px;
}
#u7067 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u7068 {
  position:absolute;
  left:0px;
  top:120px;
  width:101px;
  height:30px;
}
#u7069 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u7070 {
  position:absolute;
  left:101px;
  top:120px;
  width:111px;
  height:30px;
}
#u7071 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u7072 {
  position:absolute;
  left:212px;
  top:120px;
  width:118px;
  height:30px;
}
#u7073 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u7074 {
  position:absolute;
  left:330px;
  top:120px;
  width:136px;
  height:30px;
}
#u7075 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u7076 {
  position:absolute;
  left:466px;
  top:120px;
  width:99px;
  height:30px;
}
#u7077 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u7078 {
  position:absolute;
  left:565px;
  top:120px;
  width:200px;
  height:30px;
}
#u7079 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u7080 {
  position:absolute;
  left:0px;
  top:150px;
  width:101px;
  height:30px;
}
#u7081 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u7082 {
  position:absolute;
  left:101px;
  top:150px;
  width:111px;
  height:30px;
}
#u7083 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u7084 {
  position:absolute;
  left:212px;
  top:150px;
  width:118px;
  height:30px;
}
#u7085 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u7086 {
  position:absolute;
  left:330px;
  top:150px;
  width:136px;
  height:30px;
}
#u7087 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u7088 {
  position:absolute;
  left:466px;
  top:150px;
  width:99px;
  height:30px;
}
#u7089 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u7090 {
  position:absolute;
  left:565px;
  top:150px;
  width:200px;
  height:30px;
}
#u7091 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:2px;
}
#u7092 {
  position:absolute;
  left:25px;
  top:44px;
  width:765px;
  height:1px;
}
#u7093 {
  position:absolute;
  left:2px;
  top:-8px;
  width:761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:12px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7094 {
  position:absolute;
  left:25px;
  top:227px;
  width:765px;
  height:12px;
}
#u7095 {
  position:absolute;
  left:2px;
  top:-2px;
  width:761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:15px;
}
#u7096 {
  position:absolute;
  left:625px;
  top:84px;
  width:137px;
  height:15px;
}
#u7097 {
  position:absolute;
  left:2px;
  top:0px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7007_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u7007_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:2px;
}
#u7098 {
  position:absolute;
  left:9px;
  top:33px;
  width:802px;
  height:1px;
}
#u7099 {
  position:absolute;
  left:2px;
  top:-8px;
  width:798px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7101 {
  position:absolute;
  left:151px;
  top:1px;
  width:105px;
  height:33px;
}
#u7102 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7103 {
  position:absolute;
  left:152px;
  top:30px;
  width:103px;
  height:7px;
}
#u7104 {
  position:absolute;
  left:2px;
  top:-4px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7105 {
  position:absolute;
  left:54px;
  top:9px;
  width:57px;
  height:16px;
}
#u7106 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7107 {
  position:absolute;
  left:178px;
  top:9px;
  width:57px;
  height:16px;
  color:#000000;
}
#u7108 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7109 {
  position:absolute;
  left:33px;
  top:60px;
  width:85px;
  height:16px;
}
#u7110 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7109_ann {
  position:absolute;
  left:111px;
  top:56px;
  width:1px;
  height:1px;
}
#u7111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:178px;
}
#u7111 {
  position:absolute;
  left:178px;
  top:60px;
  width:1px;
  height:177px;
}
#u7112 {
  position:absolute;
  left:2px;
  top:80px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7113 {
  position:absolute;
  left:33px;
  top:102px;
  width:113px;
  height:16px;
}
#u7114 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7113_ann {
  position:absolute;
  left:139px;
  top:98px;
  width:1px;
  height:1px;
}
#u7115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7116 {
  position:absolute;
  left:222px;
  top:108px;
  width:396px;
  height:114px;
}
#u7117 {
  position:absolute;
  left:2px;
  top:49px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u7118 {
  position:absolute;
  left:226px;
  top:112px;
  width:31px;
  height:33px;
}
#u7119 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:51px;
}
#u7120 {
  position:absolute;
  left:274px;
  top:127px;
  width:65px;
  height:51px;
}
#u7121 {
  position:absolute;
  left:2px;
  top:18px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:81px;
}
#u7122 {
  position:absolute;
  left:359px;
  top:130px;
  width:87px;
  height:81px;
}
#u7123 {
  position:absolute;
  left:2px;
  top:32px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7124 {
  position:absolute;
  left:222px;
  top:60px;
  width:369px;
  height:16px;
}
#u7125 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
#u7126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u7126 {
  position:absolute;
  left:13px;
  top:10px;
  width:167px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u7127 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u7128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(124, 123, 173, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7128 {
  position:absolute;
  left:13px;
  top:42px;
  width:50px;
  height:30px;
  font-size:14px;
}
#u7129 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u7128_ann {
  position:absolute;
  left:56px;
  top:38px;
  width:1px;
  height:1px;
}
#u7130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:241px;
}
#u7130 {
  position:absolute;
  left:125px;
  top:744px;
  width:937px;
  height:241px;
}
#u7131 {
  position:absolute;
  left:2px;
  top:112px;
  width:933px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:104px;
}
#u7132 {
  position:absolute;
  left:828px;
  top:786px;
  width:162px;
  height:104px;
}
#u7133 {
  position:absolute;
  left:2px;
  top:44px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7134 {
  position:absolute;
  left:970px;
  top:767px;
  width:40px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(208, 208, 208, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#484774;
  text-align:left;
}
#u7136 {
  position:absolute;
  left:710px;
  top:154px;
  width:132px;
  height:40px;
  color:#484774;
  text-align:left;
}
#u7137 {
  position:absolute;
  left:2px;
  top:4px;
  width:128px;
  word-wrap:break-word;
}
#u7138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7138 {
  position:absolute;
  left:730px;
  top:167px;
  width:20px;
  height:20px;
}
#u7139 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(208, 208, 208, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#484774;
  text-align:left;
}
#u7140 {
  position:absolute;
  left:840px;
  top:154px;
  width:132px;
  height:40px;
  color:#484774;
  text-align:left;
}
#u7141 {
  position:absolute;
  left:2px;
  top:4px;
  width:128px;
  word-wrap:break-word;
}
#u7142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(208, 208, 208, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#484774;
  text-align:left;
}
#u7142 {
  position:absolute;
  left:710px;
  top:193px;
  width:132px;
  height:40px;
  color:#484774;
  text-align:left;
}
#u7143 {
  position:absolute;
  left:2px;
  top:4px;
  width:128px;
  word-wrap:break-word;
}
#u7144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u7144 {
  position:absolute;
  left:730px;
  top:200px;
  width:22px;
  height:24px;
}
#u7145 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(208, 208, 208, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#484774;
  text-align:left;
}
#u7146 {
  position:absolute;
  left:840px;
  top:193px;
  width:132px;
  height:40px;
  color:#484774;
  text-align:left;
}
#u7147 {
  position:absolute;
  left:2px;
  top:4px;
  width:128px;
  word-wrap:break-word;
}
#u7148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7148 {
  position:absolute;
  left:855px;
  top:202px;
  width:24px;
  height:24px;
}
#u7149 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u7150 {
  position:absolute;
  left:857px;
  top:165px;
  width:24px;
  height:19px;
}
#u7151 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7152 {
  position:absolute;
  left:748px;
  top:271px;
  width:57px;
  height:16px;
}
#u7153 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u7154 {
  position:absolute;
  left:837px;
  top:271px;
  width:1px;
  height:16px;
}
#u7155 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7156 {
  position:absolute;
  left:207px;
  top:227px;
  width:57px;
  height:16px;
}
#u7157 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7158 {
  position:absolute;
  left:2px;
  top:81px;
  width:1114px;
  height:41px;
}
#u7159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u7159 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u7160 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u7161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u7161 {
  position:absolute;
  left:139px;
  top:0px;
  width:139px;
  height:36px;
}
#u7162 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u7163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u7163 {
  position:absolute;
  left:278px;
  top:0px;
  width:140px;
  height:36px;
}
#u7164 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u7165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:36px;
}
#u7165 {
  position:absolute;
  left:418px;
  top:0px;
  width:155px;
  height:36px;
}
#u7166 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u7167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:36px;
}
#u7167 {
  position:absolute;
  left:573px;
  top:0px;
  width:153px;
  height:36px;
}
#u7168 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u7169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u7169 {
  position:absolute;
  left:726px;
  top:0px;
  width:140px;
  height:36px;
}
#u7170 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u7171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u7171 {
  position:absolute;
  left:866px;
  top:0px;
  width:103px;
  height:36px;
}
#u7172 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u7173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u7173 {
  position:absolute;
  left:969px;
  top:0px;
  width:140px;
  height:36px;
}
#u7174 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
